<div class="container">
    <form name="form" ng-submit="vm.submit(vm.form)" novalidate="novalidate" class="form-signin">
        <div>
            <label for="_email" class="sr-only">邮箱</label>
            <input id="_email" api-field-error type="email" ng-required="true" ng-model="vm.form.email"
                   class="form-control" placeholder="邮箱" autofocus/>
        </div>
        <div>
            <label for="_password" class="sr-only">密码</label>
            <input id="_password" api-field-error type="password" ng-required="true" ng-model="vm.form.password"
                   class="form-control" placeholder="密码" autofocus/>
        </div>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block">登陆</button>
    </form>
</div>